/* Color Theme Swatches in Hex */
/* .22:38-1-hex { color: #10454F; }
.22:38-2-hex { color: #506266; }
.22:38-3-hex { color: #818274; }
.22:38-4-hex { color: #A3AB78; }
.22:38-5-hex { color: #BDE038; } */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --color_theme_background-first: #A3AB78;
    --color_theme-background-second: #10454F;
    --color_theme_icons_about_our: #818274;
    --color_button: #BDE038;
    --color-font-nav: #506266;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.logo-img-dog {
    height: 50px;
    width: 50px;
}

.menu a {
    text-decoration: none;
    padding-left: 10px;
}

.main-services {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    text-align: center;
    background: var(--color_theme_background-first);
    padding: 30px;
}

.img-dog-section-principle {
    height: 400px;
    width: 400px;
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0px);
    }
}

.informations-about-services {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
    padding: 20px;
}

.informations {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.icon-card img {
    background: var(--color_theme_background-first);
    padding: 20px;
}

.feedbacks-costumer {
    display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.img-costumer {
    height: 300px;
    width: 200px;
    overflow: hidden;
}

.img-costumer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.end-page {
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
}

footer {
    display: flex;
    justify-content: center;
}