@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --color_theme_background-first: #9BF2EA;
    --color_theme-background-second: #2A8C82;
    --color_theme_icons_theme-costumer: #275950;
    --color_button: #41BFB3;
    --color-font-nav: #260101;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
}

.header {  
    padding-inline: 16px;
    background: white;
}

.nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    height: 48px;
    width: 48px;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    font-size: 18px;
    color: var(--color-font-nav);
    padding-block: 16px;
    text-decoration: none;
}

.menu-burguer {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid black;
    cursor: pointer;
}

.menu-burguer::before, .menu-burguer::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: black;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

.main-services {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    align-items: center;
    background: var(--color_theme_background-first);
    padding: 30px;
}

.content, .content-about-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    text-align: center;
}

.content h1, .content-about-section h1 {
    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.content h1 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.content p {
    font-weight: bolder;
    font-size: 1.5rem;
}

.img-dog-section-principle {
    height: 400px;
    width: 400px;
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0px);
    }
}

.cta {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    color: #34998f;
    padding: 16px 12px;
    border: var(--color_button) 8px solid;
    border-radius: 16px;
    box-shadow: inset 0 0 32px 0 var(--color_button), 0 0 32px 0 var(--color_button);
    text-shadow: 0 8px hsla(0, 0%, 100%, 0), 0 0 32px;
    position: relative;
}

/* reflexo do botão */
.cta::before {
    content: "";
    position: absolute;
    top: 120%;
    left: 0%;
    background: var(--color_button);
    width: 100%;
    height: 100%;
    transform: perspective(64px) rotateX(40deg) scale(1, 0.35);
    filter: blur(34px);
    opacity: 0.7;
    pointer-events: none;
}

.cta::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 128px 32px var(--color_button);
    opacity: 0;
    background-color: var(--color_button);
    z-index: -1;
    transition: opacity 100ms linear;
}

.cta:hover::before, .cta:hover::after {
    opacity: 1;
}

.cta:hover {
    color: black;
    text-shadow: none;
}

.informations-about-services {
    display: flex;
    justify-content: center;
    flex-wrap: no-wrap;
    gap: 30px;
    padding: 30px;
}

.icon-card, .about-card h2 {
    text-align: center;
}

.about-card {
    max-width: 400px;
}

.informations {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    max-width: 400px;
}

.about-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icon-card img {
    background:var(--color_theme_background-first);
    padding: 20px;
}

.btn-know-more {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: 2px solid transparent;
    font-weight: bolder;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    font-size: 14px;
    letter-spacing: 1px;
    background: #d3d3d3;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 var(--color_button);
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    width: 100%;
    margin: 0 auto;
    text-transform: uppercase;
}

.btn-know-more span {
    margin-left: 5px;
}

.btn-know-more:hover {
    box-shadow: inset 570px 0 0 0 var(--color_button);
}

.feedbacks-costumer-container {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: center;
    gap: 30px;
    background: var(--color_theme_icons_theme-costumer);
    padding: 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.feedback-costumer-about {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    max-width: 500px;
}

.costumer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    visibility: hidden;
    background: white;
    border-radius: 5px;
}

.img-costumer {
    padding-top: 1rem;
    height: 250px;
    margin: 0 auto;
    width: 35%;
}

.img-costumer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.costumer-avaliation {
    display: flex;
    justify-content: center;
    list-style: none;
    color: #ffe500;
    border: 1px solid #fff;
    font-size: 25px;
}

.container-end-page {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #0c192c;
    color: white;
    padding: 30px;
    flex-wrap: wrap;
    overflow: hidden;
}

.bolhas {
    position: absolute;
    display: flex;
}

.bolhas span {
    width: 30px;
    height: 30px;
    background: #e5ff00;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #e5ff0044, 0 0 50px #e5ff00, 0 0 100px #e5ff00;
    animation: animate calc(150s / var(--i)) linear infinite;
}

@keyframes animate {
    0% {
        transform: translateY(1200px) scale(0);
    }

    100% {
        transform: translateY(-10%) scale(1);
    }
}

.bolhas span:nth-last-of-type(even) {
    background: #2dc3ff;
    box-shadow: 0 0 0 10px #e5ff0044, 0 0 50px #2dc3ff, 0 0 100px #2dc3ff;
}

.content-about-section {
    max-width: 600px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: var(--color-font-nav);
    color: white;
    padding: 1rem;
    gap: 20px;
}

.contact {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-footer {
    font-size: 24px;
}

#pop_up_saida {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0, 0, 0, 0.5);
    display: none;
}

#pop_up_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-inline: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 1.5rem;
    border-radius: 5px;
    text-align: center;
}



#pop_up_button button {
    background: var(--color_theme_background-first);
    color: black;
    font-weight: bolder;
    padding: 0.6rem 1.5rem;
    border-radius: 5px;
    border: 1px solid var(--color_theme-background-second);
    cursor: pointer;
    transition: ease-out 0.4s;
}

#pop_up_button button:hover {
    background: transparent;
}

#icon-back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    cursor: pointer;
    height: 48px;
    width: 48px;
    transition: 0.5s;
}

#icon-back-to-top:hover {
    transform: scale(1.1);
}

/* tela de celular */
@media (max-width: 600px) {
    .feedbacks-costumer-container {
        flex-wrap: wrap;
    }

    .informations-about-services {
        flex-wrap: wrap;
    }

    .menu-burguer {
        display: block;
        z-index: 1;
    }

    .nav {
        justify-content: space-between;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: var(--color_theme_background-first);
        gap: 0;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;
        pointer-events: none;
    }

    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav-list a {
        font-size: 24px;
        opacity: 0;
    }

    .nav.active .nav-list a {
        opacity: 1;
    }

    .nav.active .menu-burguer {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav.active .menu-burguer::before {
        transform: rotate(135deg);
    }

    .nav.active .menu-burguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }

    .nav-list li:nth-child(4) a {
        transition: 0.5s 0.8s;
    }
}

/* tela de tablet */
@media (max-width:600px), (max-width: 1025px) {
    .feedbacks-costumer-container {
        flex-wrap: wrap;
    }

    .informations-about-services {
        flex-wrap: wrap;
    }
}